@model IEnumerable<MVCWebAPP.Models.Mouse>
@{
    ViewData["Title"] = "MouseLink";
}
<div class="text-center">
    <h1 class="display-4">Mice Ranking</h1>
    <p>The list of the current best gaming mice.</p>
    </div>


  

  
<table class="table" style="color: whitesmoke;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWireless)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)g
            </td>
            <td>
                @if(item.IsWireless == true){<div>Yes</div>} else{<div>No</div>}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                  @if(string.IsNullOrWhiteSpace(item.URL))
                {
                    @:Unavailable
                } 
                else
                {
                    <a href="@item.URL" target="_blank">Link</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>