@model MVCWebAPP.Models.Mouse

@{
    ViewData["Title"] = "Favorite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Currently the page that allows the user to favorite a mouse but will need to be added as a button on the Mice Index.*@
<h1>Favorite</h1>

<h3>Are you sure you want to add this to your favorites?</h3>
<div>
    <h4>Mouse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shape)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shape)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWireless)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWireless)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
    </dl>
    
    <form asp-action="Favorite" asp-route-id="@Model.Id" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Yes" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
